<div id = "mapId">
    
</div>
<div id = "my-div-icon">
    
</div>
<div class="footer">
    <div class="row-fluid">
        <div class="col-sm-6">
            <div class="clock">
                <span class="glyphicon glyphicon-time"></span> {{hours}}: {{minutes}}: {{seconds}}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="speedometer">
                
                    <label for="fader"> Minutes </label>
                
                
                    <input type="range" min="0" max="60" value="0" id="fader" step="5" (input)="updateOutput($event , output)">
                
                
                    <output for="fader" #output>0 min</output>
                
            </div>
        </div>
    </div>


</div>

