<div id="mapId">

</div>

<div class="footer">
    <div class="col-md-4  col-xs-12">
        <div class="col-sm-12 clock">
            
                <span class="glyphicon glyphicon-time"></span> {{hours}}: {{minutes}}: {{seconds}}
            
        </div>
    </div>
    <div class="col-md-8  col-xs-12" style=" text-align: center; top:50%">
        <div class="speedometer">
            <div class="col-xs-4">
                <label for="fader"> Minutes </label>
            </div>
            <div class="col-xs-4" style="top:35%">
                <input class="display : inline-block" type="range" min="0" max="60" value="10" id="fader" step="5" (input)="updateOutput($event , output)">
            </div>
            <div class="col-xs-4">
                <output for="fader" #output>0 min</output>
            </div>
        </div>
    </div>
</div>